/* NAVBAR STYLES */
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center; 
  padding: 1rem 2rem;
  height: 30px;
  color: black;
  background-color: #f8f8f8;
}

.navbar-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.nav-searchbar{
  height: 20px;
  width: 300px;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.nav-btn{
  height: auto;
  width: 100px;
  padding: 0.5rem 1rem;
  background: none;
  color: black;
  border: none; 
  cursor: pointer;

}

/* HEADER STYLES */
.header-container{
  border: 1px solid #ccccccab;
  margin-top: 0.5rem;
  padding: 20px; 
  /* background-color: pink;  */
  text-align: center;
}
.header-grid{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 20px;}
.header-stat-box{
  /* background-color: #fce4ec;*/ 
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccccccab;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.header-stat-box h3{
  margin: 0;
  font-size: 1.5rem;
  color: whitesmoke;
} 
.header-stat-box p{
  margin: 5px 0;
  font-size: 1.2rem;
  color: whitesmoke;
}

/* CATEGORY STYLES */ 
.category-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  padding: 1rem;
}

.category-list{
  height: auto;
  width: 100px;
  padding: 0.5rem 1rem;
  background: white;
  color: black;
  border: 1px solid grey; 
  border-radius: 2px;
  cursor: pointer;
  margin: 10px;
}

/* PRODUCT STYLES */
.product-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}
.product-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #ccccccab;
  border-radius: 5px;;
  width: 200px;
  height: 235px;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.product-card img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
.add-to-cart-button{
  width: 100%;
  padding: 0.5rem;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button.add-to-cart-button:hover{
  background-color: #45a049; 
}




/* BUTTON STYLES */ 
button{
  cursor: pointer;
}
/* BASIC LINK STYLES */ 
a{
  text-decoration: none;
  color: black;
  justify-content: center;
  text-align: center;
}
a:hover{
  color: black;
  background-color: grey; 
  border-radius: 5px; 
}
a:visited{
  color: black;
}